@use "@/app/styles/index" as *;

.form {
  @include form;
}

.row {
  display: flex;
  gap: 8px;
}

.input {
  flex: 1;
  @include form-select;
}

.select {
  width: 180px;
  @include form-select;
}

.actions {
  display: flex;
}